<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/register.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/footer.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/}">LOGOUT</a></li>
</ul>
</nav>
</div>
<head>
<title>Contact us</title>
<link rel="stylesheet" type="text/css" href="css/contact.css">
</head>
<body>

	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Contact Us</h1>
				</div>
				<div class="container">
					<form>

						<label for="fname">First Name</label> <input type="text"
							id="fname" name="firstname" placeholder="Your name.."> <label
							for="lname">Last Name</label> <input type="text" id="lname"
							name="lastname" placeholder="Your last name.."> <label
							for="subject">How can we help you?</label>
						<textarea id="subject" name="subject"
							placeholder="Write something.." style="height: 200px"></textarea>

						<input type="submit" value="Submit">

					</form>
				</div>
			</div>

		</div>
		</div>
		<footer>
		 <div class="footer-content">
<h3>Aces</h3>
<p>ACES is process improvement system that uses tools of Lean, Six Sigma, technology, and analytics to iteratively deliver better customer experience.</p>
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
</div>
<div class="footer-bottom">
<p>copyright &copy; <a href="#">Aces</a> </p>
<div class="footer-menu">
<ul class="f-menu">
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/contactus}">Contact us</a></li>
<li><a th:href="@{/blogpage}">Blog</a></li>
</ul>
</div>
     </footer>   
</body>
</html>