<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" , initial-scale="1.0">
        <title>
            Coupon
        </title>
        <link rel="stylesheet" href="style1.css">
    </head>
    <body>
        <div class="container">
            <div class="coupon-card">
                <img src="C:\Users\91773\Pictures\Saved Pictures/aceslogo.png" width="150px">
                <h3>20% flat off on all the items in your cart</h3>
                <div class="coupon-row">
                    <span id="cpnCode">123456</span>
                    <span id="cpnBtn">Copy Code</span>
                </div>
                <p>Valid till: 20 June</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
        <script>
            var cpnBtn= document.getElementById("cpnBtn");
            var cpnCode= document.getElementById("cpnCode");
            cpnBtn.onclick=function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
            }
        </script>
    </body>
</html>
        