<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" , initial-scale="1.0">
        <title>
            Coupon
        </title>
        <link rel="stylesheet" href="css/style1.css">
    </head>
    <body>
        <div class="container">
            <div class="coupon-card">
                <img th:src="@{images/logo.png}" width"150px" height="150px">
                <h3>10% cashback with any debit card payment</h3>
                <div class="coupon-row">
                    <span id="cpnCode">ASD3456</span>
                    <span id="cpnBtn">Copy Code</span>
                </div>
                <p>Valid till: 20 June</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
        <script>
            var cpnBtn= document.getElementById("cpnBtn");
            var cpnCode= document.getElementById("cpnCode");
            cpnBtn.onclick=function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
            }
        </script>
         <div class="container">
            <div class="coupon-card">
                <img th:src="@{images/Acesimage.png}" width"150px" height="150px">
                <h3>20% flat off on selected products</h3>
                <div class="coupon-row">
                    <span id="cpnCode">567AWETYU</span>
                    <span id="cpnBtn">Copy Code</span>
                </div>
                <p>Valid till: 25 June</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
        <script>
            var cpnBtn= document.getElementById("cpnBtn");
            var cpnCode= document.getElementById("cpnCode");
            cpnBtn.onclick=function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
            }
        </script>
        <div class="container">
            <div class="coupon-card">
                <img th:src="@{images/Acesimage.png}" width"150px" height="150px">
                <h3>15% flat off on minimum purchase of 3000</h3>
                <div class="coupon-row">
                    <span id="cpnCode">7AS89765</span>
                    <span id="cpnBtn">Copy Code</span>
                </div>
                <p>Valid till: 30 June</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
        <script>
            var cpnBtn= document.getElementById("cpnBtn");
            var cpnCode= document.getElementById("cpnCode");
            cpnBtn.onclick=function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
            }
        </script>
        <div class="container">
            <div class="coupon-card">
               <img th:src="@{images/Acesimage.png}" width"150px" height="150px">
                <h3>Flat 500.Rs off on minimum purchase of 2500</h3>
                <div class="coupon-row">
                    <span id="cpnCode">AHU98734</span>
                    <span id="cpnBtn">Copy Code</span>
                </div>
                <p>Valid till: 5 july</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
        <script>
            var cpnBtn= document.getElementById("cpnBtn");
            var cpnCode= document.getElementById("cpnCode");
            cpnBtn.onclick=function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
            }
        </script>
        <div class="container">
            <div class="coupon-card">
                <img th:src="@{images/Acesimage.png}" width"150px" height="150px">
                <h3>5% flat off on all the items in your cart</h3>
                <div class="coupon-row">
                    <span id="cpnCode">8AJKJH7432</span>
                    <span id="cpnBtn">Copy Code</span>
                </div>
                <p>Valid till: 22 June</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>
        <script>
            var cpnBtn= document.getElementById("cpnBtn");
            var cpnCode= document.getElementById("cpnCode");
            cpnBtn.onclick=function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
            }
        </script>
    </body>
</html>
        