<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/products.css">
    <link rel="stylesheet" href="css/footer.css">
     <link rel="stylesheet" href="css/header.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <div class="background-image">
  
  </div>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/}">LOGOUT</a></li>
</ul>
</nav>
</div>
			

<header class="header1">
  <div class="container header__top">
    <div class="header__logo">
    </div>
    <div class="header__cart">
      <ul>
        <li class="header__submenu" id="submenu">
          <div id="shopping-cart" class="shopping-cart-container">
            <table id="cart-content">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <p class="total-container" id="total-price"></p>
            <a th:href="@{/checkout}" class="cart-btn">Check out</a>
            <a href="#" id="clear-cart" class="cart-btn">Clear Cart</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
			</div>
		</div>
	</div>
</nav>      
 <main>
   
</header>
<button class="header__cart-btn" id="toggle-cart-btn"> Your Cart</button>

<main class="container page-content">

  <div class="grid" id="grid">
    <div class="card">
      <img width="300" height="300" th:src="@{images/e8.jpg}">
      <div class="card__info">
        <h4 class="card__title">Sony Bluetooth Headphone NC WH-1000XM4BM (Black)</h4>
        <p class="card__text">33% off</p>
        <p class="card__price">$121</p>
        <button class="card__btn add-to-cart" data-id="13">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="200" height="2000" th:src="@{images/e9.jpg}">
      <div class="card__info">
        <h4 class="card__title">Apple AirPods With Charging Case</h4>
        <p class="card__text">66% off</p>
        <p class="card__price">$221</p>
        <button class="card__btn add-to-cart" data-id="7">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e10.jpg}">
      <div class="card__info">
        <h4 class="card__title">Apple AirPods (3rd Generation) With MagSafe Charging Case</h4>
        <p class="card__text">11% off</p>
        <p class="card__price">$150</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e11.jpg}">
      <div class="card__info">
        <h4 class="card__title">Panasonic Ultra HD (4K) Smart Android LED 65 inch(164 cm)</h4>
        <p class="card__text">21% off</p>
        <p class="card__price">$450</p>
        <button class="card__btn add-to-cart" data-id="9">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e14.jpg}">
      <div class="card__info">
        <h4 class="card__title">Samsung 8.5 Kg Semi Automatic Top Load Washing Machine</h4>
        <p class="card__text">10% off</p>
        <p class="card__price">$400</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e16.jpg}">
      <div class="card__info">
        <h4 class="card__title">Acer Aspire 5 A514-54 NX.A2BSI.003 Laptop</h4>
        <p class="card__text">35% off</p>
        <p class="card__price">$350</p>
        <button class="card__btn add-to-cart" data-id="11">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e12.jpg}">
      <div class="card__info">
        <h4 class="card__title">MI LED 32 inch(80 cm) UA32T4050</h4>
        <p class="card__text">4% off</p>
        <p class="card__price">$250</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
     <div class="card">
      <img width="300" height="300" th:src="@{images/e15.jpg}">
      <div class="card__info">
        <h4 class="card__title">Samsung 6 Kg  Automatic Top Load Washing Machine</h4>
        <p class="card__text">25% off</p>
        <p class="card__price">$270</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <div class="card">
      <img width="300" height="300" th:src="@{images/e13.jpg}">
      <div class="card__info">
        <h4 class="card__title">Samsung LED 32 inch(80 cm) UA32T4050</h4>
        <p class="card__text">33% off</p>
        <p class="card__price">$300</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e17.jpg}">
      <div class="card__info">
        <h4 class="card__title">Acer Aspire 3 A315-58 NX.ADDSI.00A Laptop</h4>
        <p class="card__text">30% off</p>
        <p class="card__price">$121</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e18.jpg}">
      <div class="card__info">
        <h4 class="card__title">Apple Laptop (16 GB RAM, 2 TB, Gray)</h4>
        <p class="card__text">71% off</p>
        <p class="card__price">$900</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e19.jpg}">
      <div class="card__info">
        <h4 class="card__title">Samsung A22 5G (6 GB RAM, 128 GB ROM, Gray)</h4>
        <p class="card__text">43% off</p>
        <p class="card__price">$210</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e20.jpg}">
      <div class="card__info">
        <h4 class="card__title">Noise Smart ColorFit Beat Watch with Customisable</h4>
         <p class="card__text">22% off</p>
        <p class="card__price">$180</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e21.jpg}">
      <div class="card__info">
        <h4 class="card__title">Display Unit - Nikon D5600 DSLR Camera (AF-PDX 18-55M)</h4>
        
        <p class="card__price">$121</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e6.jpg}">
      <div class="card__info">
        <h4 class="card__title">HP Ink Tank 419 All in One Wireless Color Printer</h4>
        <p class="card__text">17% off </p>
        <p class="card__price">$100</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/e7.jpg}">
      <div class="card__info">
        <h4 class="card__title">Samsung Galaxy Tab A7 26.31 cm</h4>
        <p class="card__text">10% off</p>
        <p class="card__price">$230</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
  </div>
</main>

 </main>
  <script  src="./js/script.js"></script>
  <footer>
         <div class="footer-content">
<h3>Aces</h3>
<p>ACES is process improvement system that uses tools of Lean, Six Sigma, technology, and analytics to iteratively deliver better customer experience.</p>
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
</div>
<div class="footer-bottom">
<p>copyright &copy; <a href="#">Aces</a> </p>
<div class="footer-menu">
<ul class="f-menu">
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/contactus}">Contact us</a></li>
<li><a th:href="@{/blogpage}">Blog</a></li>
</ul>
</div>
        
    </footer>
  </body>
</html>