<html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/products.css">
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> <a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
			</div>
		</div>
	</div>
</nav>

<section>
	<div class="section">
		<div class="row">
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f1.jpg}">
				</div>
				<div class="name">Sofa set</div>
				<div class="price">Rs. 25000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div></br>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f2.jpg}">
				</div>
				<div class="name">Bed</div>
				<div class="price">Rs. 26300</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f3.jpg}">
				</div>
				<div class="name">Tea Stand</div>
				<div class="price">Rs. 2900</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f4.jpg}">
				</div>
				<div class="name">Cup Board</div>
				<div class="price">Rs. 7400</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f5.jpg}">
				</div>
				<div class="name">Bed</div>
				<div class="price">RS. 20000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f6.jpg}">
				</div>
				<div class="name">Stand</div>
				<div class="price">Rs. 8000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f7.jpg}">
				</div>
				<div class="name">Dining table</div>
				<div class="price">Rs 7800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f8.jpg}">
				</div>
				<div class="name">Chair</div>
				<div class="price">Rs. 1800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f9.jpg}">
				</div>
				<div class="name">Computer Table</div>
				<div class="price">Rs. 9900</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400"
						th:src="@{images/f10.jpg}">
				</div>
				<div class="name">Wooden Chair</div>
				<div class="price">Rs. 3000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
		</div>
	</div>
</section>

<div class="footer">
		<div class="container1">
			<div class="row">
				<div class="footer-col-3">
					<nav>
						<ul>
							<li><a  th:href="@{/about}" > About us</a></li>
							<li><a th:href="@{/contactus}" > Contact Us</a></li>
							<li><a  th:href="@{/}">Terms and condition</a></li>
							<li><a  th:href="@{/}">Returns and exchange</a></li>
							<li><a  th:href="@{/}">Private Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</html>