<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    
    
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/products.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/}">LOGOUT</a></li>
</ul>
</nav>
</div>
			

<header class="header1">
  <div class="container header__top">
    <div class="header__logo">
    </div>
    <div class="header__cart">
      <ul>
        <li class="header__submenu" id="submenu">
          <div id="shopping-cart" class="shopping-cart-container">
            <table id="cart-content">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <p class="total-container" id="total-price"></p>
            <a th:href="@{/checkout}"  class="cart-btn">Check out</a>
            <a href="#" id="clear-cart" class="cart-btn">Clear Cart</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
			</div>
		</div>
	</div>
</nav>      
 <main>
   
</header>

<button class="header__cart-btn" id="toggle-cart-btn"> Your Cart</button>

<main class="container page-content">
  <div class="grid" id="grid">
    <div class="card">
      <img width="300" height="300" th:src="@{images/f1.jpg}">
      <div class="card__info">
        <h4 class="card__title">Astonishing 3 Seater Sofa In Light Blue Colour</h4>
        <p class="card__text">38% off</p>
        <p class="card__price">$200</p>
        <button class="card__btn add-to-cart" data-id="13">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="200" height="2000" th:src="@{images/f2.jpg}">
      <div class="card__info">
        <h4 class="card__title">Darcy 2 Seater Sofa In Blush Pink Colour</h4>
        <p class="card__text">24% off</p>
        <p class="card__price">$450</p>
        <button class="card__btn add-to-cart" data-id="7">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f3.jpg}">
      <div class="card__info">
        <h4 class="card__title">Distinguished RHS 2 Seater Sofa Withlounger In Green Colour</h4>
        <p class="card__text">17% off</p>
        <p class="card__price">$800</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f4.jpg}">
      <div class="card__info">
        <h4 class="card__title">Astonishing 3 Seater Sofa In Cadet Blue Colour</h4>
        <p class="card__text">27% off</p>
        <p class="card__price">$358</p>
        <button class="card__btn add-to-cart" data-id="9">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f5.jpg}">
      <div class="card__info">
        <h4 class="card__title">Classic Handcrafted Muddha Chair in Multi Colour</h4>
        <p class="card__text">19% off</p>
        <p class="card__price">$70</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f6.jpg}">
      <div class="card__info">
        <h4 class="card__title">Kalki Solid Wood Sideboard In Provincial Teak Finish</h4>
        <p class="card__text">15% off</p>
        <p class="card__price">$120</p>
        <button class="card__btn add-to-cart" data-id="11">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f7.jpg}">
      <div class="card__info">
        <h4 class="card__title">Kalki Solid Wood King Size Bed In Honey Oak Finish</h4>
        <p class="card__text">24% off</p>
        <p class="card__price">$150</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
     <div class="card">
      <img width="300" height="300" th:src="@{images/f8.jpg}">
      <div class="card__info">
        <h4 class="card__title">Kalki Solid Wood Bedside Table In Honey Oak Finish</h4>
        <p class="card__text">25% off</p>
        <p class="card__price">$187</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <div class="card">
      <img width="300" height="300" th:src="@{images/f9.jpg}">
      <div class="card__info">
        <h4 class="card__title">Advait Solid Wood Cabinet In Multicolour</h4>
        <p class="card__text">13% off</p>
        <p class="card__price">$260</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f10.jpg}">
      <div class="card__info">
        <h4 class="card__title">Forlan Solid Wood Hand-Painted Nest Of Table</h4>
        <p class="card__text">30% off</p>
        <p class="card__price">$200</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f11.jpg}">
      <div class="card__info">
        <h4 class="card__title">Asher Solid Wood End Table Hand-Painted</h4>
        <p class="card__text">31% off</p>
        <p class="card__price">$370</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f12.jpg}">
      <div class="card__info">
        <h4 class="card__title">Daivik Solid Wood Sideboard In Multicolour Colour</h4>
        <p class="card__text">43% off</p>
        <p class="card__price">$891</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f13.jpg}">
      <div class="card__info">
        <h4 class="card__title">Prato C Table with Black Glass & Golden Base</h4>
         <p class="card__text">28% off</p>
        <p class="card__price">$230</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f14.jpg}">
      <div class="card__info">
        <h4 class="card__title">Alpha Coffee Table set with Pouffe in Natural Acacia Finish</h4>
        <p class="card__text">19% off </p>
        <p class="card__price">$170</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f15.jpg}">
      <div class="card__info">
        <h4 class="card__title">Adams Center Table Super White Colour</h4>
        <p class="card__text">27% off </p>
        <p class="card__price">$264</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/f16.jpg}">
      <div class="card__info">
        <h4 class="card__title">Tilli Console Table Black Colour</h4>
        <p class="card__text">30% off</p>
        <p class="card__price">$173</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
  </div>
</main>
  <script  src="./js/script.js"></script>
<footer>
        <div class="footer-content">
            <h3>Foolish Developer</h3>
            <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Foolish Developer</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                      </ul>
                    </div>
        </div>

    </footer>

  </body>
</html>