<html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/products.css">
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> <a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
			</div>
		</div>
	</div>
</nav>
<section>
	<divclass="section">
		<div class="row">
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f1.jpg}">
				</div>
				<div class="name">Sofa Set</div>
				<div class="price" style=color:green>Rs.25000/-</div>
				<button class="btn" style=color:blue> Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f2.jpg}">
				</div>
				<div class="name">Bed</div>
				<div class="price" style=color:green>Rs.26300/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f12.jpg}">
				</div>
				<div class="name">Style Wood</div>
				<div class="price" style=color:green>Rs.6300/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f3.jpg}">
				</div>
				<div class="name">Tea Stand</div>
				<div class="price" style=color:green>Rs.2900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f4.jpg}">
				</div>
				<div class="name">Cup Board</div>
				<div class="price" style=color:green>Rs.7400/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f12.jpg}">
				</div>
				<div class="name">Style Wood</div>
				<div class="price" style=color:green>Rs.6300/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f6.jpg}">
				</div>
				<div class="name">Stand</div>
				<div class="price" style=color:green>Rs.8000/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f7.jpg}">
				</div>
				<div class="name">Dining table</div>
				<div class="price" style=color:green>Rs.7800/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f8.jpg}">
				</div>
				<div class="name">Chair</div>
				<div class="price" style=color:green>Rs.1800/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f9.jpg}">
				</div>
				<div class="name">Computer Table</div>
				<div class="price" style=color:green>Rs.9900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f13.jpg}">
				</div>
				<div class="name">short Chair</div>
				<div class="price" style=color:green>Rs.8900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			  <div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f15.jpg}">
				</div>
				<div class="name">TV table</div>
				<div class="price" style=color:green>Rs.7900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f17.jpg}">
				</div>
				<div class="name">Tim Beravenue</div>
				<div class="price" style=color:green>Rs.1900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f24.jpg}">
				</div>
				<div class="name">Dania Furniture</div>
				<div class="price" style=color:green>Rs.15205/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f21.jpg}">
				</div>
				<div class="name">All-Free Home Furniture</div>
				<div class="price" style=color:green>Rs.5900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f23.jpg}">
				</div>
				<div class="name">Crate and Barrel</div>
				<div class="price" style=color:green>Rs.12000/-</div>
				
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f22.jpg}">
				</div>
				<div class="name">Article</div>
				<div class="price" style=color:green>Rs.15000/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f20.jpg}">
				</div>
				<div class="name">Furniture123</div>
				<div class="price" style=color:green>Rs.8500/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f26.jpg}">
				</div>
				<div class="name">More Dark Wodden</div>
				<div class="price" style=color:green>Rs.10000/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f19.jpg}">
				</div>
				<div class="name">Scandinavian</div>
				<div class="price" style=color:green>Rs.2900/-</div>
				
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f16.jpg}">
				</div>
				<div class="name">Home Furniture</div>
				<div class="price" style=color:green>Rs.19900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f14.jpg}">
				</div>
				<div class="name">Modern Scandinavition</div>
				<div class="price" style=color:green>Rs.5000/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f25.jpg}">
				</div>
				<div class="name">Dark Wooden</div>
				<div class="price" style=color:green>Rs.11900/-</div>
				<button class="btn" style=color:blue>Add to cart</button>
				<button class="btn" style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="300"
						th:src="@{images/f10.jpg}">
				</div>
				<div class="name">Wooden Chair</div>
				<div class="price" style=color:green>Rs.3000/-</div>
				<button class="btn" style=color:blue >Add to cart</button>
				<button class="btn" style=color:blue >Buy Now</button>

			</div>
		</div>
	</div>
</section>

<div class="footer">
		<div class="container1">
			<div class="row">
				<div class="footer-col-3">
					<nav>
						<ul>
							<li><a  th:href="@{/about}" > About us</a></li>
							<li><a th:href="@{/contactus}" > Contact Us</a></li>
							<li><a  th:href="@{/}">Terms and condition</a></li>
							<li><a  th:href="@{/}">Returns and exchange</a></li>
							<li><a  th:href="@{/}">Private Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</html>