<html>
<html xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/homepage.css">

<script th:src="@{/homepage.js}"></script>
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
			    <a>CART</a>
				<a th:href="@{/categories}">CATEGORIES</a> 
				<a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
				
			</div>
		</div>
	</div>
</nav>

<body>

	
	<div class="header">
		<div class="row">
			<div class="col-2">
				<h1>New Arrivals</h1>
				
				<a th:href="@{/categories}" class="btn">Shop Now &#8594;</a>
				<h1>Exciting offers</h1>
				<p>Get up to 50% off on premium products</p>
				<a th:href="@{/coupon}" button class="button">View Offers</a>
			</div>
			<div class="col-2">
				<img th:src="@{images/front.png}">
			</div>
		</div>
	</div>

	<div>
		<div class="slideshow-container">

			<div class="mySlides fade">

				<a th:href="@{/kidsapparel}"> <img
					th:src="@{images/children.jpg}" style="width: 100%"></a>

			</div>

			<div class="mySlides fade">

				<a th:href="@{/electronics}"> <img
					th:src="@{images/electronics.jpg}" style="width: 100%">
				</a>

			</div>

			<div class="mySlides fade">

				<a th:href="@{/furniture}"><img th:src="@{images/furniture.jpg}"
					style="width: 100%"></a>

			</div>

		</div>
		<br>

		<div style="text-align: center">
			<span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
		</div>

		<script>
			let slideIndex = 0;
			showSlides();

			function showSlides() {
				let i;
				let slides = document.getElementsByClassName("mySlides");
				let dots = document.getElementsByClassName("dot");
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				slideIndex++;
				if (slideIndex > slides.length) {
					slideIndex = 1
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className
							.replace(" active", "");
				}
				slides[slideIndex - 1].style.display = "block";
				dots[slideIndex - 1].className += " active";
				setTimeout(showSlides, 2000); // Change image every 2 seconds
			}
		</script>

	</div>

	<!----------------------footer-------------->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col-3">
					<nav>
						<ul>
							<li><a  th:href="@{/about}" > About us</a></li>
							<li><a th:href="@{/contactus}" > Contact Us</a></li>
							<li><a  th:href="@{/}">Terms and condition</a></li>
							<li><a  th:href="@{/}">Returns and exchange</a></li>
							<li><a  th:href="@{/}">Private Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>