<html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/homepage.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/footer.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script th:src="@{/homepage.js}"></script>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/register}">REGISTER</a></li>
<li><a th:href="@{/signin}">LOGIN</a></li>
</ul>
</nav>
</div>

<body>
<div>
<marquee class="mar"> Whatever you've got in mind, we've got inside...</marquee></div>
	<div class="header2">
		<div class="row">
			<div class="col-2">
				<h1>New Arrivals</h1>

				<a th:href="@{/categories}" class="btn">Shop Now &#8594;</a>
				<h1>Exciting offers</h1>
				<p>Get up to 50% off on premium products</p>
				<a th:href="@{/coupon}" button class="button">View Offers</a>
			</div>
			<div class="col-2">
				<img th:src="@{images/front.png}">
			</div>
		</div>
	</div>

	<div>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<div style="background: radial-gradient(#fff, #c8d693);">
					<div class="row">
						<div class="col-2">
							<h1>Latest Collection for Kids</h1>
							<a th:href="@{/kidsapparel}" class="btn"
								style="background-color: black;">Shop Now</a>
						</div>
						<div class="col-2">
							<a th:href="@{/kidsapparel}"><img
								th:src="@{images/children.jpg}"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="mySlides fade">

				<div style="background: radial-gradient(#fff, #d69f93);">
					<div class="row">
						<div class="col-2">
							<h1>Latest Collection for Men</h1>
							<a th:href="@{/menapparel}" class="btn"
								style="background-color: black;">Shop Now</a>
						</div>
						<div class="col-2">
							<a th:href="@{/menapparel}"><img
								th:src="@{images/mensapparel.jpg}"></a>
						</div>
					</div>
				</div>

			</div>

			<div class="mySlides fade">

				<div style="background: radial-gradient(#fff, #ece07d);">
					<div class="row">
						<div class="col-2">
							<h1>Latest Collection for Women</h1>
							<a th:href="@{/womenapparel}" class="btn"
								style="background-color: black;">Shop Now</a>
						</div>
						<div class="col-2">
							<a th:href="@{/womenapparel}"><img
								th:src="@{images/womensclothing.jpg}"></a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<br>

		<div style="text-align: center">
			<span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
		</div>

		<script>
			let slideIndex = 0;
			showSlides();

			function showSlides() {
				let i;
				let slides = document.getElementsByClassName("mySlides");
				let dots = document.getElementsByClassName("dot");
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				slideIndex++;
				if (slideIndex > slides.length) {
					slideIndex = 1
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className
							.replace(" active", "");
				}
				slides[slideIndex - 1].style.display = "block";
				dots[slideIndex - 1].className += " active";
				setTimeout(showSlides, 2000); // Change image every 2 seconds
			}
		</script>

	</div>

	<!----------------------footer-------------->
	<footer>
        <div class="footer-content">
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Foolish Developer</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                      </ul>
                    </div>
        </div>

    </footer>
</body>
</html>