<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/products.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/}">LOGOUT</a></li>
</ul>
</nav>
</div>
			

<header class="header1">
  <div class="container header__top">
    <div class="header__logo">
    </div>
    <div class="header__cart">
      <ul>
        <li class="header__submenu" id="submenu">
          <div id="shopping-cart" class="shopping-cart-container">
            <table id="cart-content">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <p class="total-container" id="total-price"></p>
            <a th:href="@{/checkout}"  class="cart-btn">Check out</a>
            <a href="#" id="clear-cart" class="cart-btn">Clear Cart</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
			</div>
		</div>
	</div>
</nav>      
 <main>
   
</header>

<button class="header__cart-btn" id="toggle-cart-btn"> Your Cart</button>

<main class="container page-content">
  <div class="grid" id="grid">
    <div class="card">
      <img width="300" height="300" th:src="@{images/k1.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Multi Coloured Text Print T-shirt And Shorts Set</h4>
        <p class="card__text">23% off</p>
        <p class="card__price">$10</p>
        <button class="card__btn add-to-cart" data-id="13">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="200" height="2000" th:src="@{images/k2.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Red Graphic Print Jeans Set</h4>
        <p class="card__text">6% off</p>
        <p class="card__price">$18</p>
        <button class="card__btn add-to-cart" data-id="7">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k3.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Orange Text Print Tee, Jacket and Jogger Set</h4>
        <p class="card__text">11% off</p>
        <p class="card__price">$9</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k4.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Pink Sleeveless Solid Gown</h4>
        <p class="card__text">21% off</p>
        <p class="card__price">$45</p>
        <button class="card__btn add-to-cart" data-id="9">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k5.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Black Sleeveless Solid Gown</h4>
        <p class="card__text">10% off</p>
        <p class="card__price">$40</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k6.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Blue Sleeveless Applique Floral Party Dress</h4>
        <p class="card__text">15% off</p>
        <p class="card__price">$35</p>
        <button class="card__btn add-to-cart" data-id="11">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k7.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Black Sleeveless Solid Party Dress</h4>
        <p class="card__text">4% off</p>
        <p class="card__price">$25</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
     <div class="card">
      <img width="300" height="300" th:src="@{images/k8.jpg}">
      <div class="card__info">
        <h4 class="card__title">Unisex Blue Graphic Print Tee</h4>
        <p class="card__text">5% off</p>
        <p class="card__price">$3</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <div class="card">
      <img width="300" height="300" th:src="@{images/k9.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Multi Coloured Stripe Print Casual Dress</h4>
        <p class="card__text">33% off</p>
        <p class="card__price">$6</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k10.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Gray All-Over Print Blazer, Waistcoat, Pant, Bow and Brooch Set</h4>
        <p class="card__text">30% off</p>
        <p class="card__price">$120</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k11.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Navy Solid Formal Set</h4>
        <p class="card__text">71% off</p>
        <p class="card__price">$90</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k12.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Maroon Solid Kurta and Dhoti Set</h4>
        <p class="card__text">43% off</p>
        <p class="card__price">$21</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k13.jpg}">
      <div class="card__info">
        <h4 class="card__title">Boys Black Ethnic Print Kurta Pajama Set</h4>
         <p class="card__text">22% off</p>
        <p class="card__price">$50</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k14.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Blue Floral Print Salwar And Kameez With Dupatta Set</h4>
        <p class="card__text">19% off </p>
        <p class="card__price">$57</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k15.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Red Ethnic Print Lehenga and Choli Set</h4>
        <p class="card__text">17% off </p>
        <p class="card__price">$10</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/k16.jpg}">
      <div class="card__info">
        <h4 class="card__title">Girls Navy Short-Sleeve Solid Party Dress</h4>
        <p class="card__text">10% off</p>
        <p class="card__price">$23</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
  </div>
</main>
  <script  src="./js/script.js"></script>
  <footer>
         <div class="footer-content">
<h3>Aces</h3>
<p>ACES is process improvement system that uses tools of Lean, Six Sigma, technology, and analytics to iteratively deliver better customer experience.</p>
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
</div>
<div class="footer-bottom">
<p>copyright &copy; <a href="#">Aces</a> </p>
<div class="footer-menu">
<ul class="f-menu">
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/contactus}">Contact us</a></li>
<li><a th:href="@{/blogpage}">Blog</a></li>
</ul>
</div>
        
    </footer>
  </body>
</html>