<html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/menapparel.css">
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> <a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
			</div>
		</div>
	</div>
</nav>

<section>
	<div class="section">
		<div class="row">
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m1.jpg}">
				</div>
				<div class="name">Blue coat</div>
				<div class="price">Rs. 1500</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			</br>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m2.jpg}">
				</div>
				<div class="name">Blue Shirt</div>
				<div class="price">Rs. 634</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m3.jpg}">
				</div>
				<div class="name">White T-shirt</div>
				<div class="price">Rs. 900</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m4.jpg}">
				</div>
				<div class="name">Full Sleeves shirt</div>
				<div class="price">Rs. 900</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m5.jpg}">
				</div>
				<div class="name">Trouser</div>
				<div class="price">RS. 700</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m6.jpg}">
				</div>
				<div class="name">Blue T-shirt</div>
				<div class="price">Rs. 800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m7.jpg}">
				</div>
				<div class="name">Hoodie</div>
				<div class="price">Rs 780</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m8.jpg}">
				</div>
				<div class="name">Jeans</div>
				<div class="price">Rs. 800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m9.jpg}">
				</div>
				<div class="name">Tshirt</div>
				<div class="price">Rs. 990</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/m10.jpg}">
				</div>
				<div class="name">Colorful Tshirt</div>
				<div class="price">Rs. 670</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
		</div>
	</div>
</section>

<section id="footer">
	<div class="foot">
		<a th:href="@{/homepage}">HOME</a> </br> <a href="">ABOUT US</a> </br> <a href="">CONTACT
			US</a>
	</div>
</section>
</html>