<html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/products.css">
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> <a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
			</div>
		</div>
	</div>
</nav>

<section>
	<div class="section">
		<div class="row">
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m1.jpg}">
				</div>
				<div class="name">Blue coat</div>
				<div class="price" style=color:green>Rs. 1500/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			</br>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m26.jpg}">
				</div>
				<div class="name">Blue Shirt</div>
				<div class="price" style=color:green>Rs. 634/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m3.jpg}">
				</div>
				<div class="name">White T-shirt</div>
				<div class="price" style=color:green>Rs. 900/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m4.jpg}">
				</div>
				<div class="name">Full Sleeves shirt</div>
				<div class="price" style=color:green>Rs. 900/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m5.jpg}">
				</div>
				<div class="name">Trouser</div>
				<div class="price" style=color:green>RS. 700/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m6.jpg}">
				</div>
				<div class="name">Blue T-shirt</div>
				<div class="price" style=color:green>Rs. 800/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m7.jpg}">
				</div>
				<div class="name">Hoodie</div>
				<div class="price" style=color:green>Rs 780/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m8.jpg}">
				</div>
				<div class="name">Jeans</div>
				<div class="price" style=color:green>Rs. 800/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m9.jpg}">
				</div>
				<div class="name">Tshirt</div>
				<div class="price" style=color:green>Rs. 990/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m10.jpg}">
				</div>
				<div class="name">Colorful Tshirt</div>
				<div class="price" style=color:green>Rs. 670/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m11.jpg}">
				</div>
				<div class="name">Rare Rabbit Hosey</div>
				<div class="price" style=color:green>Rs. 1980/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m12.jpg}">
				</div>
				<div class="name">Mens winter fashion</div>
				<div class="price" style=color:green>Rs. 2200/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m13.jpg}">
				</div>
				<div class="name">Rare Rabbit Ascot</div>
				<div class="price" style=color:green>Rs. 1500/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m14.jpg}">
				</div>
				<div class="name">Rare Rabbit Morris</div>
				<div class="price" style=color:green>Rs. 2100/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m15.jpg}">
				</div>
				<div class="name">Rare Rabbit Sketchy</div>
				<div class="price" style=color:green>Rs. 2000/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m16.jpg}">
				</div>
				<div class="name">Wisdom Apparel Taiwan</div>
				<div class="price" style=color:green>Rs. 2500/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m17.jpg}">
				</div>
				<div class="name">Latest Winter Mens Fashion</div>
				<div class="price" style=color:green>Rs. 2000/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m18.jpg}">
				</div>
				<div class="name">Winter Jacket</div>
				<div class="price" style=color:green>Rs. 1800/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m19.jpg}">
				</div>
				<div class="name">Navy Blue Coffee</div>
				<div class="price" style=color:green>Rs. 1600/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m20.jpg}">
				</div>
				<div class="name">Beardo Hoodie</div>
				<div class="price" style=color:green>Rs. 1500/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m21.jpg}">
				</div>
				<div class="name">Full Sleeve Casual jackets</div>
				<div class="price" style=color:green>Rs. 1100/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m22.jpg}">
				</div>
				<div class="name">Mystic Play</div>
				<div class="price" style=color:green>Rs. 1300/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m23.jpg}">
				</div>
				<div class="name">Orangr Magenta</div>
				<div class="price" style=color:green>Rs. 900/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="300" height="400" th:src="@{images/m25.jpg}">
				</div>
				<div class="name">Ward Robe Essentials</div>
				<div class="price" style=color:green>Rs. 1800/-</div>
				<button class=btn style=color:blue>Add to cart</button>
				<button class=btn style=color:blue>Buy Now</button>
			</div>
		</div>
	</div>
</section>

<div class="footer">
		<div class="container1">
			<div class="row">
				<div class="footer-col-3">
					<nav>
						<ul>
							<li><a  th:href="@{/about}" > About us</a></li>
							<li><a th:href="@{/contactus}" > Contact Us</a></li>
							<li><a  th:href="@{/}">Terms and condition</a></li>
							<li><a  th:href="@{/}">Returns and exchange</a></li>
							<li><a  th:href="@{/}">Private Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</html>