<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<link rel="stylesheet" href="css/register.css">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register Page</title>
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a>
				<a th:href="@{/signin}">LOGIN</a>
			</div>
		</div>
	</div>
</nav>

<head>
<title>Register Screen</title>
</head>

<body>

	<div class="container">
			<div class="title">Registration</div>
			<form th:action="@{/registered}" th:object="${user}" 
			method="post" >
			  <div class="user-details">
			  <div>
				<div class="input-box">
				<span class="details">First name</span>
				<input type="text" th:field="*{firstName}" placeholder="First name" required minlength="3" maxlength="20">
				</div>
				<div class="input-box">
				<span class="details">Last name</span>
				<input type="text" th:field="*{lastName}" placeholder="Last name" minlength="1" maxlength="20" required>
				</div>
				<div class="input-box">
				<span class="details">Email</span>
				<input type="email" th:field="*{email}" placeholder="Email-id" required  minlength="10" maxlength="35">
				</div>
				</div>
				<div>
				<div class="input-box">
				<span class="details">Username</span>
				<input type="text" th:field="*{userName}" placeholder="Username" required minlength="2" maxlength="20">
				</div>
				<div class="input-box">
				<span class="details">Password</span>
				<input type="password" th:field="*{password}"	placeholder="Password" required minlength="6" maxlength="20">
				</div>
				<div class="input-box">
				<span class="details">Confirm Password</span>
				<input type="password" 	placeholder="Confirm-password" required minlength="6" maxlength="20">
				</div>
				</div>
				<div>
				<div class="input-box">
				<span class="details">Moblie number</span>
				<input type="tel" th:field="*{mobileNumber}" placeholder="Mobile-number" required minlength="10" maxlength="10">
				</div>
				<div class="input-box">
				<span class="details">Date of birth</span>
				<input type="date"  placeholder="Date-of-birth" required >
				</div>
				<div class="input-box">
				<span class="details">Gender</span>
				<select class="select">
				<option value="male">Male</option>
				<option value="female">Female</option>
				<option value="others">Others</option>
				</select>
				</div>
				</div>	
			</div>
				<div class="button">
				<input type="submit" value="Submit">
				</div>			
			</form>
	</div>

<div class="footer">
		<div class="container1">
			<div class="row">
				<div class="footer-col-3">
					<nav>
						<ul>
							<li><a  th:href="@{/about}" > About us</a></li>
							<li><a th:href="@{/contactus}" > Contact Us</a></li>
							<li><a  th:href="@{/}">Terms and condition</a></li>
							<li><a  th:href="@{/}">Returns and exchange</a></li>
							<li><a  th:href="@{/}">Private Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</body>


</html>
