<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<link rel="stylesheet" href="css/register.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/footer.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register Page</title>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/signin}">LOGIN</a></li>
</ul>
</nav>
</div>

<head>
<title>Register Screen</title>
</head>

<body>

	<div class="container">
			<div class="title">Registration</div>
			<form th:action="@{/registered}" th:object="${user}" 
			method="post" >
			  <div class="user-details">
			  <div>
				<div class="input-box">
				<span class="details">First name</span>
				<input type="text" th:field="*{firstName}" placeholder="First name" required minlength="3" maxlength="20">
				</div>
				<div class="input-box">
				<span class="details">Last name</span>
				<input type="text" th:field="*{lastName}" placeholder="Last name" minlength="1" maxlength="20" required>
				</div>
				<div class="input-box">
				<span class="details">Email</span>
				<input type="email" th:field="*{email}" placeholder="Email-id" required  minlength="10" maxlength="35">
				</div>
				</div>
				<div>
				<div class="input-box">
				<span class="details">Username</span>
				<input type="text" th:field="*{userName}" placeholder="Username" required minlength="2" maxlength="20">
				</div>
				<div class="input-box">
				<span class="details">Password</span>
				<input type="password" th:field="*{password}"	placeholder="Password" required minlength="6" maxlength="20">
				</div>
				<div class="input-box">
				<span class="details">Confirm Password</span>
				<input type="password" 	placeholder="Confirm-password" required minlength="6" maxlength="20">
				</div>
				</div>
				<div>
				<div class="input-box">
				<span class="details">Moblie number</span>
				<input type="tel" th:field="*{mobileNumber}" placeholder="Mobile-number" required minlength="10" maxlength="10">
				</div>
				<div class="input-box">
				<span class="details">Date of birth</span>
				<input type="date"  placeholder="Date-of-birth" required >
				</div>
				<div class="input-box">
				<span class="details">Gender</span>
				<select class="select">
				<option value="male">Male</option>
				<option value="female">Female</option>
				<option value="others">Others</option>
				</select>
				</div>
				</div>	
			</div>
				<div class="button">
				<input type="submit" value="Submit">
				</div>			
			</form>
	</div>

	<footer>
        <div class="footer-content">
<h3>Aces</h3>
<p>ACES is process improvement system that uses tools of Lean, Six Sigma, technology, and analytics to iteratively deliver better customer experience.</p>
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
</div>
<div class="footer-bottom">
<p>copyright &copy; <a href="#">Aces</a> </p>
<div class="footer-menu">
<ul class="f-menu">
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/contactus}">Contact us</a></li>
<li><a th:href="@{/blogpage}">Blog</a></li>
</ul>
</div>
        

    </footer>

</body>


</html>
