<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/resetpswd.css">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reset Password Page</title>
<head>
<title>forgot password screen</title>
</head>
<body>
<body>
	<div class="forgotpswd-page">
		<div class="form">
			<div class="forgotpswd">
				<div class="create-header">
					<h3>FORGOT PASSWORD</h3>
				</div>
			</div>
			<form class="createaccount-form">
				<input type="text" name="username" placeholder="username" required
					id="username" /></br> <input type="text" name="email id"
					placeholder="email id" required />
				<button>Continue</button>
			</form>
		</div>
	</div>
</body>
</body>

<section id="footer">
	<div class="foot">
		<a th:href="@{/homepage}">HOME</a> </br> <a href="">ABOUT US</a> </br> <a
			href="">CONTACT US</a>
	</div>
</section>
</html>
