<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/signin.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Page</title>
<head>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
</ul>
</nav>
</div>
<title>Login Screen</title>
</head>

<body>
	<div class="login-page">
		<div class="form">
			<div class="login">
				<div class="login-header">
					<h3>LOGIN</h3>
				</div>
			</div>
			<form method="post" th:action="@{/signin}" th:object="${loginForm}" class="login-form">
				<div>
				<span class="details">Email</span>
				<input type="text" name="email" placeholder="email" /><br>
			
				<span class="details">Password</span>
				 <input name="password" type="password" placeholder="password" />
				 </div><br>
				<button class="button">Login</button>
			</form><br>
			<a class="message">Not registered? <a th:href="@{/register}">Create
					an account</a></a></br> <br> <a th:href="@{/resetpswd}">Forgot
				Password?</a>


		</div>
	</div>
	
	<footer>
         <div class="footer-content">
<h3>Aces</h3>
<p>ACES is process improvement system that uses tools of Lean, Six Sigma, technology, and analytics to iteratively deliver better customer experience.</p>
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
</div>
<div class="footer-bottom">
<p>copyright &copy; <a href="#">Aces</a> </p>
<div class="footer-menu">
<ul class="f-menu">
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/contactus}">Contact us</a></li>
<li><a th:href="@{/blogpage}">Blog</a></li>
</ul>
</div>
        
    </footer>
</body>
</html>
