<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/login.css">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Page</title>
<head>
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> <a th:href="@{/register}">REGISTER</a>
			</div>
		</div>
	</div>
</nav>

<title>Login Screen</title>
</head>
<body>
<body>
	<div class="login-page">
		<div class="form">
			<div class="login">
				<div class="login-header">
					<h3>LOGIN</h3>
				</div>
			</div>
			<form method="post" th:href="@{/categories}" class="login-form">
				<input type="text" name="email" placeholder="email" /></br> <input
					name="password" type="password" placeholder="password" />
				<button class="button">Login</button>
			</form>
			<a class="message">Not registered? <a th:href="@{/register}">Create
					an account</a></a></br> <br> <a th:href="@{/resetpswd}">Forgot
				Password?</a>


		</div>
	</div>
</body>
</body>



<section id="footer">
	<div class="foot">
		<a th:href="@{/homepage}">HOME</a> </br> <a href="">ABOUT US</a> </br> <a
			href="">CONTACT US</a>
	</div>
</section>
</html>
