<html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/toys.css">
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> <a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
			</div>
		</div>
	</div>
</nav>

<section>
	<div class="section">
		<div class="row">
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t1.jpg}">
				</div>
				<div class="name">Bicycle</div>
				<div class="price">Rs.1500</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			</br>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t2.jpg}">
				</div>
				<div class="name">Lorry</div>
				<div class="price">Rs.300</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t3.jpg}">
				</div>
				<div class="name">Doll</div>
				<div class="price">Rs.450</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t4.jpg}">
				</div>
				<div class="name">Rocking Horse</div>
				<div class="price">Rs.2000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t5.jpg}">
				</div>
				<div class="name">Car</div>
				<div class="price">RS. 700</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t6.jpg}">
				</div>
				<div class="name">Drums</div>
				<div class="price">Rs.600</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t7.jpg}">
				</div>
				<div class="name">cycle</div>
				<div class="price">Rs 2000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t8.jpg}">
				</div>
				<div class="name">Bubble shooter</div>
				<div class="price">Rs.100</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t9.jpg}">
				</div>
				<div class="name">Wind fan</div>
				<div class="price">Rs.120</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/t10.jpg}">
				</div>
				<div class="name">Ball</div>
				<div class="price">Rs.80</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
		</div>
	</div>
</section>

<section id="footer">
	<div class="foot">
		<a th:href="@{/homepage}">HOME</a> </br> <a href="">ABOUT US</a> </br> <a href="">CONTACT
			US</a>
	</div>
</section>

</body>
</html>