<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    
    
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/products.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     
  </head>
  <body>
<div class="header">
<nav>
<img th:src="@{images/logo.png}" class="logo" alt="">
<ul class="nav-links">
<li><a th:href="@{/categories}">CATEGORIES</a></li>
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/}">LOGOUT</a></li>
</ul>
</nav>
</div>
			

<header class="header1">
  <div class="container header__top">
    <div class="header__logo">
    </div>
    <div class="header__cart">
      <ul>
        <li class="header__submenu" id="submenu">
          <div id="shopping-cart" class="shopping-cart-container">
            <table id="cart-content">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <p class="total-container" id="total-price"></p>
            <a th:href="@{/checkout}"  class="cart-btn">Check out</a>
            <a href="#" id="clear-cart" class="cart-btn">Clear Cart</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
			</div>
		</div>
	</div>
</nav>      
 <main>
</header>

<button class="header__cart-btn" id="toggle-cart-btn"> Your Cart</button>

<main class="container page-content">
  <div class="grid" id="grid">
    <div class="card">
      <img width="300" height="300" th:src="@{images/w1.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Floral Print Strappy Fit & Flare Maxi Dress</h4>
        <p class="card__text">33% off</p>
        <p class="card__price">$20</p>
        <button class="card__btn add-to-cart" data-id="13">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="200" height="2000" th:src="@{images/w2.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Printed Fit & Flare Dress with Camisole</h4>
        <p class="card__text">14% off</p>
        <p class="card__price">$45</p>
        <button class="card__btn add-to-cart" data-id="7">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w3.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Abstract Print Flared Fitted Dress</h4>
        <p class="card__text">17% off</p>
        <p class="card__price">$29</p>
        <button class="card__btn add-to-cart" data-id="8">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w4.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Floral Print Crop Top with Pants Set</h4>
        <p class="card__text">27% off</p>
        <p class="card__price">$45</p>
        <button class="card__btn add-to-cart" data-id="9">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w5.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Floral Print V-neck Wrap Top</h4>
        <p class="card__text">19% off</p>
        <p class="card__price">$30</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w6.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Printed A-line Dress with Tie-Up Neckline</h4>
        <p class="card__text">15% off</p>
        <p class="card__price">$40</p>
        <button class="card__btn add-to-cart" data-id="11">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w7.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Floral Print Kaftan Dress</h4>
        <p class="card__text">14% off</p>
        <p class="card__price">$15</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
    <!--.card-->
     <div class="card">
      <img width="300" height="300" th:src="@{images/w8.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Printed Lehenga Choli with Dupatta</h4>
        <p class="card__text">25% off</p>
        <p class="card__price">$69</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <div class="card">
      <img width="300" height="300" th:src="@{images/w9.jpg}">
      <div class="card__info">
        <h4 class="card__title">AARKE RITU KUMAR Mid-Rise Flat-Front Pants</h4>
        <p class="card__text">23% off</p>
        <p class="card__price">$26</p>
        <button class="card__btn add-to-cart" data-id="12">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w10.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Floral Jumpsuit</h4>
        <p class="card__text">30% off</p>
        <p class="card__price">$20</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w11.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Skater Dress with Sequinned Collar</h4>
        <p class="card__text">31% off</p>
        <p class="card__price">$30</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w12.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Stripes Bodycon Dress with Zipper Placket</h4>
        <p class="card__text">43% off</p>
        <p class="card__price">$31</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w13.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Solid A-line Maxi Dress</h4>
         <p class="card__text">28% off</p>
        <p class="card__price">$23</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w14.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Skater Dress with Sequins & Lack Yoke</h4>
        <p class="card__text">29% off </p>
        <p class="card__price">$17</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w15.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Floral Print Top with Front-Slit</h4>
        <p class="card__text">27% off </p>
        <p class="card__price">$24</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
     <!--.card-->
    <div class="card">
      <img width="300" height="300" th:src="@{images/w16.jpg}">
      <div class="card__info">
        <h4 class="card__title">MISS CHASE Panelled A-line Skirt</h4>
        <p class="card__text">60% off</p>
        <p class="card__price">$73</p>
        <button class="card__btn add-to-cart" data-id="10">Add to Cart</button>
      </div>
    </div>
  </div>
</main>
  <script  src="./js/script.js"></script>
    <footer>
        <div class="footer-content">
<h3>Aces</h3>
<p>ACES is process improvement system that uses tools of Lean, Six Sigma, technology, and analytics to iteratively deliver better customer experience.</p>
<ul class="socials">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
</ul>
</div>
<div class="footer-bottom">
<p>copyright &copy; <a href="#">Aces</a> </p>
<div class="footer-menu">
<ul class="f-menu">
<li><a th:href="@{/homepage}">HOME</a></li>
<li><a th:href="@{/about}">About</a></li>
<li><a th:href="@{/contactus}">Contact us</a></li>
<li><a th:href="@{/blogpage}">Blog</a></li>
</ul>
</div>
        

    </footer>
  </body>
</html>