<html>

<html xmlns:th="http://www.thymeleaf.org"><link rel="stylesheet" href="css/products.css">
<nav class="navbar">
	<div class="nav">
		<img th:src="@{images/Acesimage.png}" class="logo" alt="">
		<div class="nav-items">
			<div class="search">
				<input type="text" class="search-box"
					placeholder="search brand, product">
				<button class="search-btn">search</button>
			</div>
			<div class="buttons">
				<a th:href="@{/categories}">CATEGORIES</a> 
				<a th:href="@{/register}">REGISTER</a>
				<a th:href="@{/signin}">LOGIN</a>
				<a th:href="@{/homepage}">HOME</a>
			</div>
		</div>
	</div>
</nav>

<section>
	<div class="section">
		<div class="row">
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w1.jpg}">
				</div>
				<div class="name">Traditional Gown</div>
				<div class="price">Rs. 5000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			</br>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w2.jpg}">
				</div>
				<div class="name">Traditional Lehenga</div>
				<div class="price">Rs. 4600</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w3.jpg}">
				</div>
				<div class="name">Chudidhar</div>
				<div class="price">Rs. 1900</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w4.jpg}">
				</div>
				<div class="name">Long gown</div>
				<div class="price">Rs. 2400</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w5.jpg}">
				</div>
				<div class="name">Maxi dress</div>
				<div class="price">RS. 2000</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w6.jpg}">
				</div>
				<div class="name">Black Jeans</div>
				<div class="price">Rs. 1800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w7.jpg}">
				</div>
				<div class="name">Floral Dress</div>
				<div class="price">Rs 1800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w8.jpg}">
				</div>
				<div class="name">White & pink dress</div>
				<div class="price">Rs. 800</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w9.jpg}">
				</div>
				<div class="name">Jeans</div>
				<div class="price">Rs. 1590</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
			<div class="card">
				<div class="column">
					<img width="400" height="400" th:src="@{images/w10.jpg}">
				</div>
				<div class="name">Colorful Tshirt</div>
				<div class="price">Rs. 670</div>
				<button>Add to cart</button>
				<button>Buy Now</button>
			</div>
		</div>
	</div>
</section>

<div class="footer">
		<div class="container1">
			<div class="row">
				<div class="footer-col-3">
					<nav>
						<ul>
							<li><a  th:href="@{/about}" > About us</a></li>
							<li><a th:href="@{/contactus}" > Contact Us</a></li>
							<li><a  th:href="@{/}">Terms and condition</a></li>
							<li><a  th:href="@{/}">Returns and exchange</a></li>
							<li><a  th:href="@{/}">Private Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</html>