@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
	margin: 0;
	padding: 5;
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
}

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background: #f5f5f5;
	z-index: 9;
}

.nav {
	padding: 10px 10vw;
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 60px;
}

.nav-items {
	display: flex;
	align-items: center;
}

.search {
	width: 500px;
	display: flex;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 50%;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.search-box {
	width: 80%;
	height: 40px;
	padding: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #d1d1d1;
	text-transform: capitalize;
	background: none;
	color: #a9a9a9;
	outline: none;
}

.search-btn {
	width: 20%;
	height: 40px;
	padding: 10px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #383838;
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.button-btn {
	width: 35%;
	height: 30px;
	padding: 10px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #383838;
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
}

.search-box::placeholder {
	color: #a9a9a9;
}

.nav-items a {
	margin-left: 20px;
}

.nav-items a img {
	width: 30px;
	padding:25px;
}

.hero-section {
	width: 100%;
	height: calc(100vh - 120px);
	background-image: url('../img/header.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-section .logo {
	height: 700px;
	display: flex;
	margin: auto;
}

.centered {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffe0;
	text-transform: capitalize;
	font-size: 35px;
	font-weight: 300;
	font-family: 'roboto', sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #555;

}

.header{
    background: radial-gradient(#fff,#d8bfd8);

}


* {
	box-sizing: border-box;
}


body {
	font-family: Verdana, sans-serif;
}

.mySlides {
	display: none;
}

img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #000000;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}

.footer{
    background: #D3D3D3;
    color: #000;
    font-size: 14px;
    padding: 60px 0 20px;
}



.button{
	display: inline-block;
    background: #623bff;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;

}

